body {
  background-color: ivory;
  font-family: Helvetica;
}

#about {
  width: 50%;
}

#instructions {
  width: 50%;
}

#about,
#instructions,
#upcoming {
  padding: 1%;
}

#about {
  float: right;
}

h1,
copyright {
  float: left;
  padding-right: 2%;
}

copyright {
  margin-left: 40%;
  float: left;
}

#container {
  /* border: 2px solid red; */
  max-height: 325px;
  max-width: 925px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1%;
  overflow-x: auto;
  overflow-y: visible;
}

#addModule,
#myCanvas {
  margin-right: 3%;
  float: left;
}

#addModule {
  border: 2px solid black;
  width: 550px;
  height: 300px;
}

#myCanvas {
  border: 2px solid black;
}

#module {
  margin: 1%;
}
